.endcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 750px;
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}

.giflouis {
  height: 150px;
  border-radius: 25px;
  margin: 30px;
  position: relative;
  bottom: 100px;
}

.endtitle {
  font-family: "Galindo", cursive;
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 150px;
}
.buttonend {
  font-family: "Galindo", cursive;
  height: 100px;
  width: 140px;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 25px;
  background: linear-gradient(to right, #ff512f, #f09819);
}
