* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.playcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  gap: 50px;
}
